<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Plantilla</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/resources/css/stylelogo.css}">
</head>
<body>
<!--crear fragmento "cabecera" -->
<div th:fragment="cabecera">
		<div class="pos-f-t">
			<nav  style="background-color: #CACFD2; width: 100%; height: 80px;" class="navbar navbar-expand-sm  navbar-black">
				  <div class="navbar-header">
					   <div class="navbar-header barra">
						 <!--<h1 style="font-family: Arial, Helvetica, sans-serif;">Linertec</h1>-->
					     <img width="140px" height="140px"  th:src="@{/img/logo_cabecera.png}">
						</div>
				</div>
			  <div class="collapse navbar-collapse">
				   <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 30px;">
					  <a class"nav-link" style=" font-size: 16px; color: black; font-family: 'Courier New', Courier, monospace; font-weight:bold" th:each="bean : ${session.ENLACES}" th:if="${bean.descripcion == 'Inicio'}" th:text="${bean.descripcion}" th:href="${bean.ruta}"></a>
				   </ul>
				    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 7px;">
					  <a class"nav-link" style="color: black; font-family: 'Courier New', Courier, monospace;" th:each="bean : ${session.ENLACES}" th:if="${bean.descripcion == 'Periodo'}" th:text="${bean.descripcion}" th:href="${bean.ruta}"></a>
				   </ul>
				    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 7px;">
					  <a class"nav-link" style="color: black; font-family: 'Courier New', Courier, monospace;" th:each="bean : ${session.ENLACES}" th:if="${bean.descripcion == 'Nivel'}" th:text="${bean.descripcion}" th:href="${bean.ruta}"></a>
				   </ul>
				    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 7px;">
					  <a class"nav-link" style="color: black; font-family: 'Courier New', Courier, monospace;" th:each="bean : ${session.ENLACES}" th:if="${bean.descripcion == 'Secciones'}" th:text="${bean.descripcion}" th:href="${bean.ruta}"></a>
				   </ul>
				    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 7px;">
					  <a class"nav-link " style="font-size: 16px; color: black; font-family: 'Courier New', Courier, monospace; font-weight:bold" th:each="bean : ${session.ENLACES}" th:if="${bean.descripcion == 'Asignar Sección'}" th:text="${bean.descripcion}" th:href="${bean.ruta}"></a>
				   </ul>
				    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 7px;">
					  <a class"nav-link" style="color: black; font-family: 'Courier New', Courier, monospace; " th:each="bean : ${session.ENLACES}" th:if="${bean.descripcion == 'Cursos'}" th:text="${bean.descripcion}" th:href="${bean.ruta}"></a>
				   </ul>
				   <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 7px;">
					  <a class"nav-link" style="font-size: 16px;  color: black; font-family: 'Courier New', Courier, monospace; font-weight:bold" th:each="bean : ${session.ENLACES}" th:if="${bean.descripcion == 'Asignar Cursos'}" th:text="${bean.descripcion}" th:href="${bean.ruta}"></a>
				   </ul>
				   <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 7px;">
					  <a class"nav-link" style="color: black; font-family: 'Courier New', Courier, monospace;" th:each="bean : ${session.ENLACES}" th:if="${bean.descripcion == 'Horario'}" th:text="${bean.descripcion}" th:href="${bean.ruta}"></a>
				   </ul>
				   <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 7px;">
					  <a class"nav-link" style="color: black; font-family: 'Courier New', Courier, monospace;" th:each="bean : ${session.ENLACES}" th:if="${bean.descripcion == 'Alumnos'}" th:text="${bean.descripcion}" th:href="${bean.ruta}"></a>
				   </ul>
				     <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 7px;">
					  <a class"nav-link" style="color: black; font-family: 'Courier New', Courier, monospace;" th:each="bean : ${session.ENLACES}" th:if="${bean.descripcion == 'Profesores'}" th:text="${bean.descripcion}" th:href="${bean.ruta}"></a>
				   </ul>
				   <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 7px;">
					  <a class"nav-link" style="color: black; font-family: 'Courier New', Courier, monospace;" th:each="bean : ${session.ENLACES}" th:if="${bean.descripcion == 'Apoderado'}" th:text="${bean.descripcion}" th:href="${bean.ruta}"></a>
				   </ul>
				   <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 7px;">
					  <a class"nav-link" style="color: black; font-family: 'Courier New', Courier, monospace;" th:each="bean : ${session.ENLACES}" th:if="${bean.descripcion == 'Matricula'}" th:text="${bean.descripcion}" th:href="${bean.ruta}"></a>
				   </ul>
				   <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 7px;">
					  <a class"nav-link" style="font-size: 16px;  color: black; font-family: 'Courier New', Courier, monospace; font-weight:bold" th:each="bean : ${session.ENLACES}" th:if="${bean.descripcion == 'Lista Matricula'}" th:text="${bean.descripcion}" th:href="${bean.ruta}"></a>
				   </ul>
  
				   
				  <div class="navbar-nav ml-auto">
					  <div class="flex" style="width:200px!important;padding-top: 10px;font-weight:bold ">
			      	<!--<span class="text-white">Usuario:  </span><span class="text-white"></span>-->
			      	  </div>
					  <span class="nav-item nav-link"></span>  
					  <form method="post" th:action="@{/logout}"> 
								<input type="submit" class="btn btn-secondary" style="width: 120px; height:50px; font-size: 15px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"; value="Cerrar Sesión">
								<input type="submit" class="btn btn-dark" style="width: 120px; height:50px; font-size: 15px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"; sec:authorize="!isAuthenticated()" value="Iniciar Sesión">
					  </form>
				  </div> 
			</div>
			</nav>
			
			
		</div>
</div>




	

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script   src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>
</html>


    

    

