<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
<link rel="stylesheet" th:href="@{/resources/css/estilos.css}"> 
<link rel="stylesheet" th:href="@{/resources/css/normalize.css}"> 


 
    <meta name="theme-color" content="#2091F9">

    <meta name="title" content="Aprende CSS desde cero">
    
    
    
   
 
</head>

<body>

    <header class="hero">
        <nav class="nav container">
            <ul class="nav__link nav__link--menu">
                <img src="./images/close.svg" class="nav__close">
            </ul>

      
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">Academia Linertec</h1>
            <p class="hero__paragraph">Nuestra academia ofrece una amplia gama de programas educativos para satisfacer tus intereses y metas profesionales.</p>
            <a th:href="@{/sesion/login}" method="get" class="cta">Comienza ahora</a>
        </section>
        
      
    </header>

    <main>
        <section class="container about">
            <h2 class="subtitle">NUESTRO CICLOS</h2>
            <p class="about__paragraph">Elige tu ciclo de Preparacion Preuniversitaria </p>

            <div class="about__main">
                <article class="about__icons">
                    <img src="/img/1-0.png" >
                    <h3 class="about__title"> UNMSM </h3>
                 
                </article>

                <article class="about__icons">
                    <img src="/img/2-0.png" >
                    <h3 class="about__title">Villarreal</h3>
                  
                </article>

                <article class="about__icons">
                    <img src="/img/3-0.png" >
                    <h3 class="about__title">UNI</h3>
                </article>
            </div>
        </section>

        <section class="knowledge">
            <div class="knowledge__container container">
                <div class="knowledege__texts">
                    <h2 class="subtitle">Sobre Nosotros</h2>
                    <p class="knowledge__paragraph">Más de seis décadas de brillante trayectoria académica y cultural formando estudiantes con un alto nivel, son nuestra garantía de ingreso seguro a las más importantes universidades del país.

                        La academia Linertec brinda sólidos conocimientos en Ciencias y Humanidades. Además, se preocupa para que sus estudiantes reciban una formación integral. 
                        Los indicadores contundentes de esta exitosa forma de trabajo son nuestros continuos ingresos masivos a la Universidad Nacional Mayor de San Marcos (UNMSM) 
                        y otras universidades como la Universidad Nacional Federico Villarreal (UNFV) y la Universidad Nacional del Callao (UNAC).</p>
                    <a href="#" class="cta">Entra Ya</a>
                </div>

                <figure class="knowledge__picture">
                    <img src="/img/macbook.png" class="knowledge__img">
                </figure>
            </div>
        </section>

        <section class="price container">
            <h2 class="subtitle">ESCOJE TU FORMA DE APRENDER</h2>

            <div class="price__table">
                <div class="price__element">
                    <p class="price__name">Virtual</p>
                    <h3 class="price__price">S/200</h3>

                    <div class="price__items">
                        <p class="price__features">Repaso </p>
                        <p class="price__features">Anual</p>
                        <p class="price__features">Semestral</p>
                    </div>

                    <a href="#" class="price__cta">Empieza ahora</a>
                </div>


                <div class="price__element price__element--best">
                    <p class="price__name">SemiPresencial</p>
                    <h3 class="price__price">S/300</h3>

                    <div class="price__items">
                        <p class="price__features">Repaso</p>
                        <p class="price__features">Anual</p>
                        <p class="price__features">Semestral</p>
                    </div>

                    <a href="#" class="price__cta">Empieza ahora</a>
                </div>


                <div class="price__element">
                    <p class="price__name">Presencial</p>
                    <h3 class="price__price">S/400</h3>

                    <div class="price__items">
                        <p class="price__features">Repaso</p>
                        <p class="price__features">Anual</p>
                        <p class="price__features">Semestral</p>
                    </div>

                    <a href="#" class="price__cta">Empieza ahora</a>
                </div>


            </div>
        </section>

        <section class="testimony">
            <div class="testimony__container container">
                <img src="/img/leftarrow.svg" class="testimony__arrow" id="before">

                <section class="testimony__body testimony__body--show" data-id="1">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Mi nombre es Jordan Alexander, <span class="testimony__course">ingresante a la UNMSM </span></h2>
                        <p class="testimony__review">Me siento realmente emocionado por lo rápido que estoy aprendiendo. Además, tengo la suerte de contar con excelentes profesores que hacen que el proceso sea aún más enriquecedor </p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="/img/face.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="2">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Mi nombre es Alejandra Perez, <span class="testimony__course">ingresante  a la UNI</span></h2>
                        <p class="testimony__review"> A mis 22 años, estoy emocionada por viajar por el mundo para aprender nuevas habilidades y conocimientos. Mi objetivo es convertirme en una emprendedora exitosa, ¡y cada experiencia es parte de ese emocionante viaje!</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="/img/face2.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="3">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Mi nombre es Juam Matos, <span class="testimony__course">ingresante a la Villarreal</span></h2>
                        <p class="testimony__review">Estoy inmerso en un mundo de creatividad y expresión visual. Cada día aprendo nuevas técnicas y conceptos para dar vida a ideas innovadoras a través del arte digital</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="/img/face3.jpg" class="testimony__img">
                    </figure>
                </section>
                <img src="/img/rightarrow.png" class="testimony__arrow" id="next">
            </div>
        </section>

        <section class="questions container">
            <h2 class="subtitle">Preguntas frecuentes</h2>
            <p class="questions__paragraph">Aqui hay unas pequeñas dudas de los estudiantes de Linertec</p>

            <section class="questions__container">
                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Que enseña Linertec?
                            <span class="questions__arrow">
                                <img src="/img/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">CSS (Cascading Style Sheets) es un lenguaje utilizado para describir el estilo y la presentación de un documento HTML (o XML).</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Cuánto cuesta la mensualidad en la academia Linertec?
                            <span class="questions__arrow">
                                <img src="/img/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">Tener tus Certificado de estudios completos, Documento de Identificacion ,Pago de Matricula con esto ya puedes ser parte la familia de Linertec</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Cuál es la mejor academia para ingresar a San Marcos?
                            <span class="questions__arrow">
                                <img src="/img/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">Si damos Certificado de parte de la Academia por haber culminado</p>
                    </div>
                </article>
            </section>

            <section class="questions__offer">
                <h2 class="subtitle">¿ESTAS LISTO PARA ESTUDIAR?</h2>
                <p class="questions__copy">En Linertec hay multiples Profesores que te pueden ayudar
                           a mejorar de forma rapida en tus estudios !No pierdas la oportunidad¡
                </p>
                <a href="#" class="cta">Registrate ahora</a>
            </section>
        </section>
    </main>

    <footer class="footer">
        <section class="footer__container container">
            <nav class="nav nav--footer">
                <h2 class="footer__title">Linertec</h2>

                <ul class="nav__link nav__link--footer">
                    <li class="nav__items">
                        <a href="#" class="nav__links">Alumnos</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Cursos</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Docentes</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Horario</a>
                    </li>
                </ul>
            </nav>

            <form class="footer__form" action="https://formspree.io/f/mknkkrkj" method="POST">
                <h2 class="footer__newsletter">Suscribete a la Linertec</h2>
                <div class="footer__inputs">
                    <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                    <input type="submit" value="Registrate" class="footer__submit">
                </div>
            </form>
        </section>

        <section class="footer__copy container">
            <div class="footer__social">
                <a href="#" class="footer__icons"><img src="/img/facebook.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="/img/twitter.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="/img/youtube.svg" class="footer__img"></a>
            </div>

            <h3 class="footer__copyright">Derechos reservados &copy; Linertec</h3>
        </section>
    </footer>

    <script src="/js/slider.js"></script>s
    <script src="/js/questions.js"></script>
    <script src="/js/menu.js"></script>
</body>

</html>